@model HouseholdManager.Models.Task

@{
    ViewData["PageTitle"] = Model.TaskId == 0 ? "Create a new task" : "Edit task";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color: #1a222b">
            <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TaskId" value="@Model.TaskId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                    <input type="radio" id="radioleft" name="Type" value="ToDo" checked="@(Model.Type=="ToDo")" />
                    <label class="e-btn" for="radioleft">ToDo</label>
                    <input type="radio" id="radiomiddle" name="Type" value="Done" checked="@(Model.Type=="Done")" />
                    <label class="e-btn" for="radiomiddle">Done</label>
                </div>
                </div>
                <div class="mb-3">
                    <ejs-datepicker id="date" ejs-for="Date"
                    placeholder="Date" floatLabelType="Always"
                    format="MMM-dd-yy"></ejs-datepicker>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="taskName" placeholder="TaskName" ejs-for="TaskName" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="TaskName" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="taskIcon" placeholder="TaskIcon" ejs-for="TaskIcon" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="TaskIcon" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-rating id="points" placeholder="Points" ejs-for="Points" floatLabelType="Always"></ejs-rating>
                    <span asp-validation-for="Points" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="instructions" placeholder="Instructions" ejs-for="Instructions"
                    floatLabelType="Always" multiline="true"></ejs-textbox>
                    <span asp-validation-for="Instructions" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlRoom" ejs-for="RoomId"
                        dataSource="@ViewBag.Rooms" placeholder="Room" 
                        floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                        filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="RoomId" text="RoomNameWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="RoomId" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlUser" ejs-for="UserId"
                        dataSource="@ViewBag.Users" placeholder="User"
                        floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                        filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="UserId" text="UserNameWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="UserId" class="text-danger" fs-6></span>
                </div>             
                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
        </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-regular fa-square-check fa-2xl"></i>
        </div>
    </div>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
